<!DOCTYPE html>
<html>
  <head>
    <title>Serial Data</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
  </head>
  <body>
    <h1>Serial Data Interface</h1>

    <!-- Form for creating a new button -->
    <section id="createNewButton">
      <div>
        <h2>Create New Button</h2>
        <form
          id="newButton"
          method="POST"
          action="#">
          <div class="form-group">
            <label for="bName">New Button Name:</label>
            <input
              type="text"
              id="bName"
              name="bName" />
          </div>
          <input
            type="submit"
            value="Save" />
        </form>
      </div>
      <div>
        <h2>Captured Message</h2>
        <div id="capturedMessage"></div>
        <p id="capturedMessageStatus"></p>
      </div>
    </section>

    <!-- Form for sending data -->
    <section>
      <h2>Send Data</h2>
      <table id="button-table"></table>
    </section>

    <!-- Section for displaying captured message -->
    <section></section>

    <!-- Section for displaying live serial data -->
    <section>
      <h2>Live Serial Data</h2>
      <div id="connectionStatus"></div>
      <div id="serialData"></div>
    </section>

    <script type="text/javascript">
      $(document).ready(function () {
        // Connect to the Socket.IO server
        var socket = io.connect(
          "http://" + document.domain + ":" + location.port
        );

        // Event handler for new connections
        // This will update the connection status in the UI
        socket.on("connection_status", function (msg, cb) {
          $("#connectionStatus").text(msg.status);
          if (cb) cb();
        });

        // Event handler for new serial data
        // This will update the serial data log in the UI
        socket.on("serial_data", function (msg, cb) {
          var data = msg.data;
          if ($("#serialData p").length >= 10) {
            $("#serialData p:first").remove();
          }
          $("#serialData").append(
            $("<p>")
              .attr("id", "serialMessage")
              .text("MSG " + msg.time + ": " + data)
          );
          if (cb) cb();
        });

        // Event handler for new JSON data
        // This will update the captured message in the UI
        socket.on("json_data", function (msg, cb) {
          $("#capturedMessage").empty();
          $("#capturedMessage").append(
            $("<p>").text("Protocol: " + msg.protocol)
          );
          $("#capturedMessage").append(
            $("<p>").text("Address: " + msg.address)
          );
          $("#capturedMessage").append(
            $("<p>").text("Command: " + msg.command)
          );
          if (cb) cb();
        });

        // Event handler for the form submission
        // This will send the selected button to the server
        $(document).on("submit", "form#sendData", function (event) {
          var selectedOption = $(this).find('input[type="submit"]').val();
          socket.emit("send_message", { button: selectedOption });
          event.preventDefault();
        });

        // Event handler for the new button form submission
        // This will send the new button name and message to the server
        $("form#newButton").submit(function (event) {
          var newButtonName = $("#bName").val();
          var newButtonStatus = $("#capturedMessageStatus");
          if (newButtonName == "") {
            newButtonStatus.text("Please enter a button name.");
            return false;
          }
          socket.emit("add_button", {
            buttonName: newButtonName,
          });
          return false;
        });

        // Event handler for new JSON data
        // This will update the captured message in the UI
        socket.on("update_options", function (msg, cb) {
          $("#button-table").empty();
          for (var i = 0; i < msg.options.length; i++) {
            //for each button in the message, create a new button in groups of three within the table
            // these need to be able to be detected by the server when pressed
            if (i % 3 == 0) {
              $("#button-table").append("<tr>");
            }
            $("#button-table").append(
              $("<td>").append(
                $("<form>")
                  .attr("id", "sendData")
                  .attr("method", "POST")
                  .attr("action", "#")
                  .append(
                    $("<input>")
                      //.attr("id", msg.options[i])
                      .attr("type", "submit")
                      .text(msg.options[i])
                      .val(msg.options[i])
                  )
              )
            );
            if (i % 3 == 2) {
              $("#button-table").append("</tr>");
            }
          }
          if (cb) cb();
        });
      });
    </script>
  </body>
</html>
